body {
	background-color:#272727;
	/*background-image:url('bg.jpg');
	background-size:70%;
	background-position:center;
	background-attachment:fixed;
	background-repeat:no-repeat;*/
	margin: 10px auto;
	padding: 10px;
}

a {
	color:#000000;
}

hr {
	width: 80%;
	border: 1px dashed #000;
}

.body {
	/* alignment */
	margin-top:3%;
	margin-left:auto;
	margin-right:auto;
	background-color:FFE300;
	padding:10px;
}

#main_body {
	width:680px;
	border: 2px solid #FFF38F;
	padding: 0px;
}

.title {
	text-align:center;
	font-size:30px;
	font-weight:bold;
	margin-left:auto;
	margin-right:auto;
	font-family:"Arial Black", Gadget, sans-serif;
}

.heading {
	background-color:#FFF38F;
	border:2px solid;
	margin:20px 20px 5px 20px;
	padding-bottom: 5px;
}

.subtitle {
	text-align:center;
	font-size:17px;
	font-weight:bold;
}

#expand {
	font-size:14px;
	font-style: italic;
	font-weight: normal;
}

#price_table {
	margin:auto;
	margin-top:40px;
	
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
	padding: 3px;
}

td {
	width:120px;
	background-color: FFF38F
}

th {
	font-weight: bold;
	text-align: left;
	background-color: #FFFFFF;
}

#list {
	margin-top:30px;
	margin-bottom: 20px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	list-style-image: url('lock.png');
	font-size:18px;
}

#contact {
	text-align:center;
	font-weight:bold;
	font-size:18px;
	padding:5px 5px 20px 5px;
}

.images {
	padding: 10px 0px 10px 10px;
	float: none;
	clear: both;
}

.thumbnail {
	width:150px;
	margin-right: 10px;
	border:2px solid;
}

#footer {
	text-align:center;
	font-size:12px;
	margin:10px;
	font-style: italic;
}